<div class="auth-container">
  {{!-- <h3 class="app-name-auth">scriptbook</h3> --}}
  <div class="wrap">
    <h3 class="auth-headline">scriptbook</h3>
    <form action="/signup" method="POST" class="auth-form auth-form-sign-up" id="form">
      <input id="email" type="email" name="email" placeholder="e-mail" value={{#if email}} "{{email}}" {{/if}}>
      <input id="username" type="text" name="username" placeholder="username" value={{#if username}} "{{username}}"
        {{/if}}>
      <input id="password" type="password" name="password" placeholder="password" value={{#if password}} "{{password}}"
        {{/if}}>

      <input id="password2" type="password" name="password2" placeholder="confirm password"
        value={{#if password2}} "{{password2}}" {{/if}}>
      {{#if message}}
      <div class="error-message">{{ message }}</div>
      {{/if}}
      <button class="btn auth-submit">Create account</button>
      <p class="account-message">
        Already have an account?
        <a href="/login">Login</a>
      </p>
      <a class="back-home" href='/'>Back home</a>
    </form>
  </div>
</div>





