<form action="/signup" method="POST" id="form">
  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="JonSnow@got.com" value={{#if email}} "{{email}}" {{/if}}>

  <br><br>
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow" value={{#if username}} "{{username}}" {{/if}}>
  <br><br>
  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password" value={{#if password}} "{{password}}"
    {{/if}}>
  <br><br>
  <label for="password2">Confirm password</label>
  <input id="password2" type="password" name="password2" placeholder="Confirm password"
    value={{#if password2}} "{{password2}}" {{/if}}>
  {{#if message}}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <button>Create account</button>
  <p class="account-message">
    Already have an account?
    <a href="/login">Login</a>
  </p>
  <p><a href='/'>Back home</a></p>
</form>