<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <p class="card-text">{{text}}</p>
  
  {{#if tags}}
    {{#each tags}}
    
    <div class="chip click-tag">
    {{this.name}}

    </div>
  
    {{/each}}
    {{/if}}
    <div class="card-buttons">
      <a href="/notes/{{_id}}/edit" class="btn btn-info">Edit</a>
      <form action="notes/{{_id}}/delete" method="POST">
        <button type="submit" class="btn btn-outline-secondary">Delete</button>
      </form>
    </div>
  </div>
</div>