<div class="card">
  <a href="/notes/{{_id}}">
    <div class="card-content card-title">
      <span>{{title}}</span>
      <a href="/notes/{{_id}}/edit" class="btn-floating halfway-fab waves-effect waves-light teal"><i
          class="material-icons">edit</i></a>
      {{!-- <p>{{title}}</p> --}}
    </div>
  </a>
  {{#if tags}}
  <div class="card-action">
    {{#each tags}}
    <div class="chip click-tag">{{this.name}}</div>
    {{/each}}
  </div>
  {{/if}}
  <div class="time card-content">{{updated_at_iso}}</div>
</div>