<div class="card">
  <a href="/notes/{{_id}}/edit">
    <div class="card-content card-title">
      <span>{{title}}</span>
    </div>
    <a href="/notes/{{_id}}/edit" class="btn-floating halfway-fab waves-effect waves-light teal left"><i
        class="material-icons">edit</i></a>
    {{!-- <p>{{title}}</p> --}}

  </a>
  {{#if tags}}
  <div class="card-action">
    {{#each tags}}
    <div class="chip click-tag">{{this.name}}</div>
    {{/each}}
  </div>
  {{/if}}
  <div class="card-action dates-home">
    <div class="last-update">
      <span>Last Update: </span>
      <div class="time">{{this.updated_at_iso}}</div>
    </div>
    <div class="created">
      <span>Created: </span>
      <div class="time">{{this.created_at_iso}}</div>
    </div>
  </div>
</div>