<div class="logged-in-img">
  <a href="/home">
    <img class="non-home-progile-img" src={{user.imgPath}}>
  </a>
</div>

<h5 class="headline">Profile</h5>
<div class="row container-form">
  <form action="/users/profile" method="POST" enctype="multipart/form-data" class="col s12">
    <div class="row">
      <div class="inputField col s12">
        <input name="username" id="username" type="text" class="validate" value="{{user.username}}">
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="inputField col col s12">
        <input name="email" id="email" type="email" class="validate" value="{{user.email}}">
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <label>
          <input type="checkbox" name="public" {{#if user.public}} checked {{/if}} />
          <span>Public</span>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="file-field inputField col s12">
        <div class="btn grey">
          <span>image</span>
          <input type="file" name="image"
            value="http://res.cloudinary.com/dxaq5vyip/image/upload/v1569518239/handwriting/test_fail.jpg.jpg">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 profile-btn">
        <button class="waves-effect waves-light btn" type="submit">Update my profile</button>
      </div>
    </div>
  </form>
</div>


<!--Modal Structure -->
<div class="delete-account-btn">
  <button class="btn-small grey modal-trigger" data-target="delete-account-btn">Delete account</button>
</div>
<div id="delete-account-btn" class="modal">
  <div class="modal-content">
    <h6>Are you sure you want to delete your account?</h6>
    <p>Your profile and all your notes will be irreversibly deleted.</p>
  </div>
  <div class="modal-footer">
    <form action="/users/profile/{{user._id}}/delete" method="POST">
      <button type="submit" class="btn btn-outline-secondary red">Delete</button>
    </form>
    <button class="btn modal-close">cancel</button>
  </div>
</div>


{{#if message}}
<div class="error-message">{{message}}</div>
{{/if}}