<div class="logged-in-img">
  <a href="/home">
    <img class="non-home-progile-img" src={{user.imgPath}}>
  </a>
</div>
<div class="header">
  <div class="header-box">
    <div class="img-settings-logout-msg-box">
      <div class="settings">
        <div class="profile-img">
          <img src="{{owner.imgPath}}" class="circle">
        </div>
      </div>
      <div class="welcome-msg">
        <h4>{{owner.username}}</h4>
      </div>
    </div>
  </div>
</div>


<!--Search --->
<div class="search-box">
  <form action="/tags" method="GET" class="col s12 search-home">
    <div class="row">
      <div class="inputField col s12">
        <input class="search" placeholder="Search for a tag" name="tag" type="text" class="validate">
      </div>
    </div>
    <div class="search-button">
      <button class="btn search-button waves-effect waves-light" type="submit">Search
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>

<!--- NOTE PARTIALS-->
{{#if message}}
<h5 class="headline">{{message}}</h5>
{{else}}
<div class="container">
  <div class="row">
    <div class="col s12 16 card-display">
      {{#each notesList}}
      {{> userpagePartial this}}
      {{/each}}
    </div>
  </div>
</div>
{{/if}}

<!--- MENUE - TO CREATE NOTES-->
<div class="fixed-action-btn">
  <a class="btn-floating btn-large pink">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li><a href="/notes/new" class="btn-floating red"><i class="material-icons">create</i></a></li>
    <li><a href="/notes/upload" class="btn-floating yellow darken-1"><i class="material-icons">add_a_photo</i></a>
    </li>
    <li><a href="/notes/script" class="btn-floating green"><i class="material-icons">gesture</i></a></li>
  </ul>
</div>

















{{!-- <div class="row">
  <form action="/tags" method="GET" class="col s12 search-home">
    <div class="row">
      <div class="inputField col s12">
        <input class="search" placeholder="Search for a tag" name="tag" type="text" class="validate">
        <label for="Search">Search</label>
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit">Search
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>




{{#if message}}
<h1>{{message}}</h1>
{{else}}
<div class="note-container">
  {{#each notesList}}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{text}}</p>

      {{#if tags}}
      {{#each tags}}

      <div class="chip click-tag">
        {{this.name}}
      </div>
      {{/each}}
      {{/if}}
      <a href="/notes/{{_id}}" class="waves-effect waves-light btn">More</a>
    </div>
  </div>
  {{/each}}
</div>
{{/if}} --}}